<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>754364288905-tvmrqe2juplu9rtl10v1kajb51q9bgk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754364288905-tvmrqe2juplu9rtl10v1kajb51q9bgk6</string>
	<key>API_KEY</key>
	<string>AIzaSyCGqgSJmjIqA9p9NTV05ok45Vb_Fe0L7LA</string>
	<key>GCM_SENDER_ID</key>
	<string>754364288905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monmouth.Kitchen-Help</string>
	<key>PROJECT_ID</key>
	<string>kitchenhelp-c7b82</string>
	<key>STORAGE_BUCKET</key>
	<string>kitchenhelp-c7b82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754364288905:ios:31c77dfe2f205628</string>
	<key>DATABASE_URL</key>
	<string>https://kitchenhelp-c7b82.firebaseio.com</string>
</dict>
</plist>