<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Pantry.plist
   Kitchen Help

   Created by Miranda Richardson on 2/26/18.
   Copyright (c) 2018 Miranda Richardson. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
