<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Recipes.plist
   Kitchen Help

   Created by Miranda Richardson on 2/24/18.
   Copyright (c) 2018 Miranda Richardson. All rights reserved.
-->
<plist version="1.0">

 <dict>
 <key>Recipe</key>
 <string>Title 1</string>
 <key>Ingredients</key>
 <array>
 <string>Ing. 1</string>
 <string>Ing. 2</string>
 <string>Ing. 3</string>
 </array>
 <key>Directions</key>
 <string>A list of directions</string>
 </dict>
</plist>
